basePath: /api/v1
definitions:
  dto.ErrorResult:
    properties:
      message:
        type: string
      status:
        type: integer
    type: object
  dto.SuccessResult:
    properties:
      data: {}
      status:
        type: integer
    type: object
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api/
host: localhost:5000
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server celler server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /subtodo:
    post:
      consumes:
      - multipart/form-data
      description: Create a new subtodo item
      parameters:
      - description: TodoID
        in: formData
        name: todo_id
        required: true
        type: integer
      - description: Title
        in: formData
        name: title
        required: true
        type: string
      - description: Description
        in: formData
        name: description
        required: true
        type: string
      - description: File
        in: formData
        name: file
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Create a subtodo
      tags:
      - subtodo
  /subtodo/{id}:
    delete:
      consumes:
      - multipart/form-data
      description: Delete a subtodo
      parameters:
      - description: Id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Delete a subtodo
      tags:
      - subtodo
    get:
      consumes:
      - application/json
      description: Get a subtodo by id
      parameters:
      - description: Id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Get a subtodo by id
      tags:
      - subtodo
    patch:
      consumes:
      - multipart/form-data
      description: Update a subtodo
      parameters:
      - description: Id
        in: path
        name: id
        required: true
        type: integer
      - description: Title
        in: formData
        name: title
        required: true
        type: string
      - description: Description
        in: formData
        name: description
        required: true
        type: string
      - description: File
        in: formData
        name: file
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Update a subtodo
      tags:
      - subtodo
  /subtodos:
    get:
      consumes:
      - application/json
      description: Get all subtodo
      parameters:
      - description: Search query by title
        in: query
        name: search_query
        type: string
      - description: Search query by description
        in: query
        name: search_description
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Get all subtodo
      tags:
      - subtodo
  /todo:
    post:
      consumes:
      - multipart/form-data
      description: Create a new todo item
      parameters:
      - description: Title
        in: formData
        name: title
        required: true
        type: string
      - description: Description
        in: formData
        name: description
        required: true
        type: string
      - description: File
        in: formData
        name: file
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Create a todo
      tags:
      - todo
  /todo/{id}:
    delete:
      consumes:
      - multipart/form-data
      description: Delete a todo
      parameters:
      - description: Id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Delete a todo
      tags:
      - todo
    get:
      consumes:
      - application/json
      description: Get a todo by id
      parameters:
      - description: Id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Get a todo by id
      tags:
      - todo
    patch:
      consumes:
      - multipart/form-data
      description: Update a todo
      parameters:
      - description: Id
        in: path
        name: id
        required: true
        type: integer
      - description: Title
        in: formData
        name: title
        required: true
        type: string
      - description: Description
        in: formData
        name: description
        required: true
        type: string
      - description: File
        in: formData
        name: file
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Update a todo
      tags:
      - todo
  /todos:
    get:
      consumes:
      - application/json
      description: Get all todo
      parameters:
      - description: Search query by title
        in: query
        name: search_query
        type: string
      - description: Search query by description
        in: query
        name: search_description
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SuccessResult'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResult'
      summary: Get all todo
      tags:
      - todo
swagger: "2.0"
